# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environments
.env
env/
venv/
.venv/

# OS junk
Thumbs.db
.DS_Store

# VS Code
.vscode/

# Static/media
static/
media/

# Django stuff
*.pot
*.pyc
*.pyo
*.db
*.mo
*.log
*.migrations/